<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.mapper.UserAccessMapper">
    <select id="getRankingOperaIdList">
        select opera_id,count(*) as access_count
        from access_logs
        group by opera_id
        order by access_count desc
        limit 10
    </select>
</mapper>
